alias sx="startx"
alias lss="ls -alh"
alias n="nnn"

# trash-cli
alias rm="trash-put"
alias tl="trash-list"

# Vagrant
alias vu="vagrant up"
alias vs="vagrant ssh"
alias vus="vagrant up && vagrant ssh"

function mkcd {
    mkdir -p "$1" && cd $_
}
