alias sx="startx"
alias ls="ls -alh"
alias n="nnn"

# trash-cli
alias rm="trash-put"
alias tl="trash-list"

# Vagrant
alias vu="vagrant up"
alias vs="vagrant ssh"
alias vus="vagrant up && vagrant ssh"
