alias sx="startx"
alias lss="ls -alh"

# vim
alias v="nvim"

# file manipulation
alias cp="cp -iv"
alias mv="mv -iv"

# trash-cli
alias rm="trash-put -v"
alias tl="trash-list"

# Vagrant
alias vu="vagrant up"
alias vs="vagrant ssh"
alias vus="vagrant up && vagrant ssh"

# Docker Compose
alias dcb="docker compose build"
alias dcu="docker compose up"
alias dcbu="dcb & dcu"

# nnn
alias n="n -T t"

# tmux
alias t="tmux"

# Watson
alias wa="watson"

# grep
alias gr="grep --color=auto"

# dirs
alias dv="dirs -v"

function mkcd {
    mkdir -p -- "$1" && cd $_
}
